/*main frame*/
body{
    margin: 0 auto;
    background: white;
}

#app{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*button*/
button{
    border-color: #d9d9d9;
    border-radius: 5px;
    border-width: 0;
    color: white;
    background: #2db55d;
    outline: none;
}

button:hover{
    background: #24924b;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

button:active{
    background: #1c6f39;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/*scrollbar interface*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #c8c8c8;
}

/*select*/
select{
    border-color: #d9d9d9;
    border-radius: 5px;
    outline: none;
}

/*page interface*/
.page_header{
    width: 100%;
    background: white;
    box-shadow: 0 0 5px #66666666;
}

.page_body{
    width: 100%;
}

.page_bottom{
    display: none;
    width: 100%;
    color: white;
    background: black;
}

.main_detail{
    width: 60%;
    margin: 0 auto;
}

.list_item_icon{
    height: 25px;
    vertical-align: middle;
    border-radius: 100%;
}

.list_item{
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
}

.list_item_right{
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    float: right;
}

.list_item_text{
    color: black;
    text-decoration: none;
    text-align: center;
}

.nav_list{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.nav_list_right{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    float: right;
}

.gap_hr{
    opacity: 0;
}

/*error dialog*/
.err_dialog{
    border-radius: 5px;
    border-width: 0;
    width: 15%;
    box-shadow: 0 0 5px #66666666;
}

.err_msg{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.err_bnt{
    width: 80%;
    margin-left: 10%;
    height: 28px;
}